Access Key ID: AKIAIG7AXLCUG7VMZFDQ

Secret Key: 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

In [1]:
from __future__ import print_function # Python 2/3 compatibility
import boto3
import pandas as pd
import numpy as np

In [17]:
#dynamodb = boto3.resource('dynamodb')
dynamodb = boto3.resource('dynamodb', 
                          endpoint_url="http://localhost:8000", 
                          region_name='us-east',
                          aws_access_key_id='AKIAIG7AXLCUG7VMZFDQ',
                          aws_secret_access_key='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')

In [11]:
state_price = pd.read_csv('/home/myan/Downloads/Zillow_Data/State_Zhvi_SingleFamilyResidence.csv')
state_rent = pd.read_csv('/home/myan/Downloads/Zillow_Data/State_MedianRentalPrice_Sfr.csv')

In [12]:
state_price = state_price.drop(['RegionID', 'SizeRank'], axis=1)
state_price = state_price.set_index('RegionName')

In [15]:
state_price_json = state_price.to_json()

In [19]:
table = dynamodb.create_table(
    TableName='State',
    KeySchema=[
        {
            'AttributeName': 'year_month',
            'KeyType': 'HASH'  #Partition key
        }
    ],
    AttributeDefinitions=[
        {
            'AttributeName': 'year_month',
            'AttributeType': 'S'
        },
    ],
    ProvisionedThroughput={
        'ReadCapacityUnits': 10,
        'WriteCapacityUnits': 10
    }
)

print("Table status:", table.table_status)

Table status: ACTIVE

## Load the Sample Data Into the Movies Table

In [21]:
from __future__ import print_function # Python 2/3 compatibility
import boto3
import json
import decimal

In [78]:
table = dynamodb.Table('StatePrice')
entries = json.loads(state_price_json, parse_float=decimal.Decimal)
for key in entries.keys():        
    print("Adding ", key)

    table.put_item(
       Item={
           'year_month': str(key),
           'info': entries[key]
        }
    )

Adding  2003-12
Adding  2003-10
Adding  2003-11
Adding  2014-09
Adding  2014-08
Adding  2014-05
Adding  2014-04
Adding  2014-07
Adding  2014-06
Adding  2001-10
Adding  2001-11
Adding  2001-12
Adding  2014-02
Adding  2010-01
Adding  2010-03
Adding  2010-02
Adding  2010-05
Adding  2010-04
Adding  2002-08
Adding  2002-09
Adding  2002-06
Adding  2002-07
Adding  2002-04
Adding  2002-05
Adding  2002-02
Adding  2002-03
Adding  2013-02
Adding  2002-01
Adding  2000-01
Adding  2000-02
Adding  2000-03
Adding  2000-04
Adding  2000-05
Adding  2000-06
Adding  2000-07
Adding  2000-08
Adding  2000-09
Adding  2012-07
Adding  2004-12
Adding  2004-11
Adding  2004-10
Adding  2012-04
Adding  2015-06
Adding  2015-07
Adding  2015-04
Adding  2015-05
Adding  2015-02
Adding  2015-03
Adding  2015-01
Adding  2014-12
Adding  2014-01
Adding  2014-10
Adding  2014-11
Adding  2011-11
Adding  2011-10
Adding  2015-08
Adding  2011-12
Adding  2012-09
Adding  2012-08
Adding  2014-03
Adding  2012-03
Adding  2012-02
Adding  2012-01
Adding  2010-12
Adding  2012-06
Adding  2010-10
Adding  2010-11
Adding  2012-05
Adding  2004-04
Adding  2004-05
Adding  2004-06
Adding  2004-07
Adding  2004-01
Adding  2004-02
Adding  2004-03
Adding  2013-08
Adding  2004-08
Adding  2004-09
Adding  2013-09
Adding  2011-08
Adding  2011-09
Adding  2010-07
Adding  2011-02
Adding  2011-03
Adding  2010-06
Adding  2011-06
Adding  2011-07
Adding  2011-04
Adding  2011-05
Adding  2010-09
Adding  2007-02
Adding  2010-08
Adding  2012-10
Adding  2012-11
Adding  2012-12
Adding  2013-06
Adding  2007-09
Adding  2007-08
Adding  2013-07
Adding  2006-11
Adding  2003-03
Adding  2006-12
Adding  2007-01
Adding  2007-03
Adding  2001-08
Adding  2007-05
Adding  2007-04
Adding  2007-07
Adding  2007-06
Adding  2005-03
Adding  2005-02
Adding  2005-01
Adding  2005-07
Adding  2005-06
Adding  2005-05
Adding  2005-04
Adding  2005-09
Adding  2005-08
Adding  1997-12
Adding  1997-11
Adding  1997-10
Adding  2003-09
Adding  2003-08
Adding  2007-12
Adding  2007-10
Adding  2007-11
Adding  2006-02
Adding  2006-03
Adding  2006-01
Adding  2006-06
Adding  2006-07
Adding  2006-04
Adding  2006-05
Adding  2008-12
Adding  2006-08
Adding  2006-09
Adding  2005-10
Adding  2005-11
Adding  2005-12
Adding  1997-04
Adding  1997-05
Adding  1997-06
Adding  1997-07
Adding  1997-01
Adding  1997-02
Adding  1997-03
Adding  1997-08
Adding  1997-09
Adding  2008-08
Adding  2008-09
Adding  2013-04
Adding  2008-01
Adding  2008-02
Adding  2008-03
Adding  2008-04
Adding  2008-05
Adding  2008-06
Adding  2008-07
Adding  2013-01
Adding  2013-10
Adding  2013-03
Adding  2011-01
Adding  1996-07
Adding  1996-06
Adding  1996-05
Adding  1996-04
Adding  1996-09
Adding  1996-08
Adding  1998-09
Adding  1998-08
Adding  1998-05
Adding  1998-04
Adding  1998-07
Adding  1998-06
Adding  1998-01
Adding  1998-03
Adding  1998-02
Adding  2015-10
Adding  1999-11
Adding  1999-10
Adding  1999-12
Adding  2008-11
Adding  1996-10
Adding  1996-11
Adding  1996-12
Adding  2008-10
Adding  1999-06
Adding  1999-07
Adding  1999-04
Adding  1999-05
Adding  1999-02
Adding  1999-03
Adding  1999-01
Adding  1998-12
Adding  1998-10
Adding  1998-11
Adding  1999-08
Adding  1999-09
Adding  2009-07
Adding  2009-06
Adding  2009-05
Adding  2009-04
Adding  2009-03
Adding  2009-02
Adding  2009-01
Adding  2009-09
Adding  2009-08
Adding  2003-05
Adding  2003-04
Adding  2003-07
Adding  2003-06
Adding  2003-01
Adding  2001-09
Adding  2003-02
Adding  2001-07
Adding  2001-06
Adding  2001-05
Adding  2001-04
Adding  2001-03
Adding  2001-02
Adding  2001-01
Adding  2002-11
Adding  2002-10
Adding  2002-12
Adding  2015-09
Adding  2013-12
Adding  2013-11
Adding  2006-10
Adding  2000-12
Adding  2000-11
Adding  2000-10
Adding  2013-05
Adding  2009-10
Adding  2009-11
Adding  2009-12

## Add a New Item (PutItem)

In [32]:
# from __future__ import print_function # Python 2/3 compatibility
# import boto3
# import json
# import decimal

# # Helper class to convert a DynamoDB item to JSON.
# class DecimalEncoder(json.JSONEncoder):
#     def default(self, o):
#         if isinstance(o, decimal.Decimal):
#             if o % 1 > 0:
#                 return float(o)
#             else:
#                 return int(o)
#         return super(DecimalEncoder, self).default(o)

# table = dynamodb.Table('Movies')

# title = "The Big New Movie"
# year = 2015

# response = table.put_item(
#    Item={
#         'year': year,
#         'title': title,
#         'info': {
#             'plot':'Something happens.'
#         }
#     }
# )

# print("PutItem succeeded:")
# print(json.dumps(response, indent=4, cls=DecimalEncoder))

## All Movies Released in a Year

In [79]:
from __future__ import print_function # Python 2/3 compatibility
import boto3
import json
import decimal
from boto3.dynamodb.conditions import Key, Attr

# Helper class to convert a DynamoDB item to JSON.
class DecimalEncoder(json.JSONEncoder):
    def default(self, o):
        if isinstance(o, decimal.Decimal):
            if o % 1 > 0:
                return float(o)
            else:
                return int(o)
        return super(DecimalEncoder, self).default(o)

table = dynamodb.Table('StatePrice')

print("Median Prices on 2015-10")

response = table.query(
    KeyConditionExpression=Key('year_month').eq("2015-10")
)

# for i in response['Items']:
#     print(i['year_month'], ":", i['info'])

Median Prices on 2015-10

In [80]:
response_price = pd.DataFrame(response['Items'][0]['info'].items(), columns=['key', 'value']).set_index('key')

## All Movies Released in a Year with Certain Titles

In [9]:
from __future__ import print_function # Python 2/3 compatibility
import boto3
import json
import decimal
from boto3.dynamodb.conditions import Key, Attr

# Helper class to convert a DynamoDB item to JSON.
class DecimalEncoder(json.JSONEncoder):
    def default(self, o):
        if isinstance(o, decimal.Decimal):
            return str(o)
        return super(DecimalEncoder, self).default(o)

table = dynamodb.Table('StatePrice')

print("Movies from 1992 - titles A-L, with genres and lead actor")

response = table.query(
    ProjectionExpression="#yr, title, info.genres, info.actors[0]",
    ExpressionAttributeNames={ "#yr": "year" }, # Expression Attribute Names for Projection Expression only.
    KeyConditionExpression=Key('year').eq(1992) & Key('title').between('A', 'L')
)

for i in response[u'Items']:
    print(json.dumps(i, cls=DecimalEncoder))

Movies from 1992 - titles A-L, with genres and lead actor
{"info": {"genres": ["Crime", "Drama", "Mystery", "Thriller"], "actors": ["Tom Cruise"]}, "year": "1992", "title": "A Few Good Men"}
{"info": {"genres": ["Comedy", "Drama", "Sport"], "actors": ["Tom Hanks"]}, "year": "1992", "title": "A League of Their Own"}
{"info": {"genres": ["Drama"], "actors": ["Craig Sheffer"]}, "year": "1992", "title": "A River Runs Through It"}
{"info": {"genres": ["Animation", "Adventure", "Comedy", "Family", "Fantasy", "Musical", "Romance"], "actors": ["Scott Weinger"]}, "year": "1992", "title": "Aladdin"}
{"info": {"genres": ["Action", "Sci-Fi", "Thriller"], "actors": ["Sigourney Weaver"]}, "year": "1992", "title": "Alien 3"}
{"info": {"genres": ["Comedy", "Fantasy", "Horror"], "actors": ["Bruce Campbell"]}, "year": "1992", "title": "Army of Darkness"}
{"info": {"genres": ["Action", "Fantasy"], "actors": ["Michael Keaton"]}, "year": "1992", "title": "Batman Returns"}
{"info": {"genres": ["Comedy", "Drama", "Family"], "actors": ["Charles Grodin"]}, "year": "1992", "title": "Beethoven"}
{"info": {"genres": ["Drama", "Romance", "Thriller"], "actors": ["Hugh Grant"]}, "year": "1992", "title": "Bitter Moon"}
{"info": {"genres": ["Comedy", "Drama", "Romance"], "actors": ["Eddie Murphy"]}, "year": "1992", "title": "Boomerang"}
{"info": {"genres": ["Comedy", "Horror"], "actors": ["Timothy Balme"]}, "year": "1992", "title": "Braindead"}
{"info": {"genres": ["Action", "Comedy", "Fantasy", "Horror"], "actors": ["Kristy Swanson"]}, "year": "1992", "title": "Buffy the Vampire Slayer"}
{"info": {"genres": ["Horror"], "actors": ["Virginia Madsen"]}, "year": "1992", "title": "Candyman"}
{"info": {"genres": ["Adventure", "Comedy"], "actors": ["Kurt Russell"]}, "year": "1992", "title": "Captain Ron"}
{"info": {"genres": ["Biography", "Drama"], "actors": ["Robert Downey Jr."]}, "year": "1992", "title": "Chaplin"}
{"info": {"genres": ["Drama", "Romance"], "actors": ["Marco Leonardi"]}, "year": "1992", "title": "Como agua para chocolate"}
{"info": {"genres": ["Drama", "Romance"], "actors": ["Jeremy Irons"]}, "year": "1992", "title": "Damage"}
{"info": {"genres": ["Comedy", "Fantasy"], "actors": ["Meryl Streep"]}, "year": "1992", "title": "Death Becomes Her"}
{"info": {"genres": ["Action", "Crime", "Drama", "Thriller"], "actors": ["Carlos Gallardo"]}, "year": "1992", "title": "El mariachi"}
{"info": {"genres": ["Comedy", "Fantasy"], "actors": ["Sean Astin"]}, "year": "1992", "title": "Encino Man"}
{"info": {"genres": ["Adventure", "Drama", "Romance", "Western"], "actors": ["Tom Cruise"]}, "year": "1992", "title": "Far and Away"}
{"info": {"genres": ["Animation", "Adventure", "Family", "Fantasy", "Thriller"], "actors": ["Samantha Mathis"]}, "year": "1992", "title": "FernGully: The Last Rainforest"}
{"info": {"genres": ["Drama", "Romance", "Sci-Fi"], "actors": ["Mel Gibson"]}, "year": "1992", "title": "Forever Young"}
{"info": {"genres": ["Drama"], "actors": ["Al Pacino"]}, "year": "1992", "title": "Glengarry Glen Ross"}
{"info": {"genres": ["Adventure", "Comedy", "Crime", "Family"], "actors": ["Macaulay Culkin"]}, "year": "1992", "title": "Home Alone 2: Lost in New York"}
{"info": {"genres": ["Drama", "Romance"], "actors": ["Anthony Hopkins"]}, "year": "1992", "title": "Howards End"}
{"info": {"genres": ["Crime", "Drama", "Mystery", "Thriller"], "actors": ["Andy Garcia"]}, "year": "1992", "title": "Jennifer Eight"}
{"info": {"genres": ["Crime", "Drama", "Thriller"], "actors": ["Omar Epps"]}, "year": "1992", "title": "Juice"}